body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#findOnSpotify {
    z-index: 10000;
    color: white;
}


#findOnSpotify-button {
    height: 25px !important;
    width: 25px !important;
    background-color: red !important;
    border-radius: 50% !important;
    padding: 0;
    border: none;
    background: none;
}

#findOnSpotify-contextMenu {
    height: 400px !important;
    width: 400px !important;
    background-color: rgb(25, 24, 28) !important;
    z-index: 999;
    user-select: none;
    border-radius: 20px !important;
}

#findOnSpotify-header {
    height: 50px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: rgba(44,133,107,255) !important;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

#findOnSpotify-volumeControl {
    display:flex;
    flex-direction: row;
    margin-left: auto;
}

#findOnSpotify-volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 75px;
}

#findOnSpotify-volumeSlider::-webkit-slider-runnable-track
{
    background: rgb(25, 24, 28);
    height: 8px;
    width: 75px;
}

#findOnSpotify-volumeSlider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background-color: rgba(44,133,107,255);
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid rgb(25, 24, 28);
    margin-top: -5px;
}

#findOnSpotify-currentVolume
{
    margin-top: auto;
    margin-bottom: auto;
    width: 20px;
}

#findOnSpotify-searchResults {
    padding: 15px;
    overflow-y: scroll;
    height: 320px;
}

#findOnSpotify-searchResults::-webkit-scrollbar {
    display: none;
}

.findOnSpotify-resultItem {
    display:flex;
    flex-direction: row;
    overflow-x: hidden;
}

#findOnSpotify-logo {
    width: 35px;
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
}







.findOnSpotify-resultImage {
    width: 48px;
    height: 48px;
}

.findOnSpotify-songInfo {
    margin-left: 15px;
    overflow: hidden;
    text-wrap: nowrap;
}


.findOnSpotify-audioPlayer {
    margin-left: auto;
}











.findOnSpotify-songTitle {
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: 3px;
}

.findOnSpotify-songArtist {
    font-size: .8rem;
}

.findOnSpotify-playlists{
    margin-top: 3px;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
}

.findOnSpotify-playlists img{
    width: 24px;
    height: 24px;
}


.findOnSpotify-button {
    border: none;
    padding: 0;
    background-color: transparent;
    width: 24px;
    height: 24px;
}

.findOnSpotify-playAudio {
    display: block;
}

.findOnSpotify-playAudio img {
    display: inherit;
    width: 24px;
    height: 24px;
    object-fit: fill;
}

.findOnSpotify-pauseAudio {
    display: none;
}

.findOnSpotify-pauseAudio img{
    display: inherit;
    width: 24px;
    height: 24px;
    object-fit: fill;
}





#findOnSpotify-saveTrackMenu{
    width: 125px;
    height: 125px;
    background-color: black;
    color: white;
    border: solid 1px black;
    position: absolute;
}

#findOnSpotify-saveTrackMenuHeader {
    background-color: rgba(44,133,107,255);
    padding-left: 5px;
    padding-right: 5px;
}

#findOnSpotify-saveTrackMenuPlaylists {
}


.findOnSpotify-saveTrackMenuPlaylistItem{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.findOnSpotify-saveTrackMenuPlaylistItem:hover{
    background-color: rgb(47, 47, 47);
    cursor: pointer;
}
