#flexbox {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 100px;
    background-color: black;
}

#a{
}

#b{
    overflow: hidden;
    text-wrap: nowrap;
}

#c {
    margin-left: auto;
}

#d {
    width: 450px;
    height: 100px;
    background-color: black;
}

#x {
    height: 100px;
    width: 200px;
    background-color: red;
}
#y{
    background-color: blue;
}
#z{
    height: 100px;
    width: 200px;
    background-color: green;
}